page-login {
    #LogInForm
    {
        text-align: center;
    }
    #LogInButton
    {
        display: block;
        margin: auto;
        margin-top: 25px;
        width: 30%;
        height: 30px;
    }
}
