<ng-container *ngIf="loggedInOrNot">
  <ion-tabs>
      <ion-tab [root]="tab1Root" tabTitle="Chatt" tabIcon="chatbubbles"></ion-tab>
      <ion-tab [root]="tabs6Root" tabTitle="Online" tabIcon="body"></ion-tab>
      <ion-tab [root]="tab2Root" tabTitle="Inställningar" tabIcon="calendar"></ion-tab>
      <ion-tab [root]="tab3Root" tabTitle="Logga ut" tabIcon="backspace"></ion-tab>
  </ion-tabs>
</ng-container>
<ng-container *ngIf="!loggedInOrNot">
  <ion-tabs>
      <ion-tab [root]="tab4Root" tabTitle="Login" tabIcon="ionic"></ion-tab>
      <ion-tab [root]="tab5Root" tabTitle="Registrera" tabIcon="create"></ion-tab>
  </ion-tabs>
</ng-container>
