page-home {
    #messageList
    {   
        margin-bottom: 40%;
    }

    #messageText
    {
        display: inline-block;
        width: 81%;
    }
    #messageSendButton
    {
        font-size: 1%;
        margin-bottom: 2%;
        display: inline-block;
    }

    #sendAndMessage
    {
        
        position: fixed;
        bottom: 8%;
        width: 100%;
        margin: 2px;
        opacity: 100%;
        background: grey;      
        border: 1px solid black;
        border-radius: 2px;       
    }
}
